<main>
    <div class="container-fluid">
        <div class="container">
       
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <div class="row justify-content-center">    
                        <h5>CAMPEONATO DE FILMES</h5>
                    </div>
                    <div class="row justify-content-center">
                        <h1>Resultado final</h1>
                    </div>
                    <div class="row justify-content-center">
                       <h6>Veja o resultado final do Campeonato de filmes de forma simples e rápida</h6>
                    </div>                     
                </div>
            </div>
		
        </div>
        	<section>
        <div class="container">
            <app-lista-filmes-vencedores *ngFor="let filme of listaFilmes" 
            [posicao]="posicao"
            [titulo]="filme.titulo"           
            >
            </app-lista-filmes-vencedores
            >
        </div>
		
		    
        </section>
    </div>
</div>
</main>